@import "normalize.css";

* {
  box-sizing: border-box;
}

/*
============================
Main Content Styles
============================
*/

body {
  margin: 0 auto;
  max-width: 1024px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
============================
Header Styles
============================
*/

/*
============================
Home Section Styles
============================
*/

/*
============================
Portfolio Section Styles
============================
*/

/*
============================
Skills Section Styles
============================
*/

/*
============================
Contact Styles
============================
*/

/*
============================
Footer Styles
============================
*/

/*
============================
Media Queries Styles
============================
*/
