@import "normalize.css";

* {
  box-sizing: border-box;
}

/*
============================
Main Content Styles
============================
*/

body {
  margin: 0 auto;
  max-width: 1024px;
  font-family: 'Lora', serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h3 {
  letter-spacing: 0.1em;
}

/*
============================
Nav Styles
============================
*/
.nav {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.3em;
  padding: 25px;
  background-color: #E6E6FA;
  border-radius: 6px;
}

.name {
  text-align: center;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  margin: 20px 0 40px 0;
  letter-spacing: 0.2em;
}

.main-nav ul {
  padding: 0;
}

.main-nav,
.main-nav li {
  width: 100%;
}

.main-nav a {
  color: #000;
  text-transform: uppercase;
  display: block;
  line-height: 1.6em;
}

.main-nav li {
  padding: 10px 0 10px;
  margin: 5px auto;
  background: #fff;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #AFEEEE;
}
/*
============================
Home Section Styles
============================
*/
header {
  text-align: center;
  font-family: 'Lora', serif;
}

header img {
  margin: 50px 0px 20px 0px;
  max-width: 100%;
}

header p {
  color: black;
  line-height: 2em;
  letter-spacing: 0.1em;
  padding: 0px 30px 40px 30px;
}

/*
============================
Portfolio Section Styles
============================
*/

#portfolio {
  max-width: 100%;
  text-align: center;
}

#portfolio h2 {
  padding: 20px 0 20px 0;
}

.img {
  margin: 30px 0 10px 0;
  max-width: 90%;
}

#portfolio h3 {
  text-transform: uppercase;
}

#portfolio p {
  line-height: 1.5em;
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}

/*
============================
Skills Section Styles
============================
*/
#skills {
  border-radius: 6px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  margin: 0 auto;
}

#skills ul {
  padding: 0;
  margin: auto;
}

#skills h2 {
  padding-bottom: 20px;
}

#skills li {
  border-radius: 50%;
  display: inline-flex;
  max-width: 50%;
  text-align: center;
  background: #E6E6FA;
  color: black;
  padding: 10px 30px;
  margin: 10px;
}

#skills li:nth-child(odd) {
  background: #AFEEEE;
}

#skills li:hover {
  transform: scale(1.2);
  transition: all 1s;
  border-top: 4px solid #ADD8E6;
  border-bottom: 4px solid #A9A9A9;
}

/*
============================
Contact Styles
============================
*/

#contact {
  background-color: #E6E6FA;
  padding: 50px 0 50px 0;
  text-align: center;
}

#contact p {
  width: 90%;
  margin: 0 auto;
  line-height: 2em;
  letter-spacing: 0.1em;
}
/*
============================
Footer Styles
============================
*/

.footer-nav  {
  display: none;
}

footer .footer-name {
  float: left;
  font-family: 'Dancing Script', cursive;
  text-transform: none;
  letter-spacing: 0.1em;
  padding-left: 10px;
}

footer .top {
  float: right;
  letter-spacing: 0.1em;
}

footer a {
  color: black;
  padding-right: 10px;
  font-size: 0.7em;
  font-family: 'Playfair Display', serif;
}

footer a:hover {
  transition: all .5s;
  color: #AFEEEE;
}

/*
================================
ClearFix
================================
*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/*
============================
Media Queries Styles
============================
*/

@media (min-width: 768px) {
  .main-nav li {
      display: inline-block;
      width: auto;
      margin-right: 15px;
      background-color: transparent;
  }

  .main-nav li:last-child {
      margin-right: 0;
  }

  nav ul li a:hover {
    color: #A9A9A9;
  }

  #home {
    display: inline-flex;
    flex-direction: row-reverse;
    padding-top: 20px;
  }

  header img {
    margin: auto;
  }

  header p {
    max-width: 50%;
    text-align: left;
  }

  .marketing,
  .search,
  .travel,
  .map,
  .gallery,
  .calculator {
    display: inline-block;
    max-width: 33%;
    vertical-align: top;
  }

  .top {
    display: none;
  }

  .footer-nav {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    color: #000;
    text-transform: uppercase;
    float: right;
    padding: 0;
    background: transparent;
    letter-spacing: 0.3em;
  }

  .footer-nav ul {
    display: inline-flex;
  }

  .footer-nav a {
    font-weight: bold;
  }

  footer .footer-name {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
    margin: 10px 0 0 10px;
    letter-spacing: 0.2em;
  }
}

@media (min-width: 1024px){

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav {
    width: 100%;
    display: inline-flex;
    background-color: #E6E6FA;
  }

  .name {
    display: inline;
    text-align: left;
    font-size: 2em;
    width: 40%;
    margin: auto;
    padding-left: 50px;
  }

  .main-nav ul {
    font-size: 0.8em;
    text-align: right;
    width: auto;
    margin: auto;
  }

  #home {
    display: inline-flex;
    flex-direction: row-reverse;
    background-color: #E6E6FA;
  }

  header img {
    margin: 50px 20px 20px 0;
  }

  header p {
    margin: 50px;
    text-align: left;
    padding: 0;
  }

  p .text-description {
    margin: 0 auto;
  }

  #portfolio {
    background-color: white;
    padding: 20px 0 40px 0;
  }

  .img {
    max-width: 95%;
  }

  #contact {
    margin: 0 auto;
  }

  #contact p {
    max-width: 70%;
  }
}
